.block {
  display: flex;
  justify-content: center;
  align-items: center;
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    .report {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
