@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // border: 1px solid black;

    .mainLayout {
      display: flex;
      width: 80%;
      // border: 1px solid black;
      flex-direction: column;
      .topContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          display: flex;
          margin-top: 2em;
        }

        .topRight {
          display: flex;
          gap: 2em;
          align-items: center;
          p {
            color: #737373;
            text-align: center;
            font-family: "Roboto-Light";
            font-size: 18px;
            // font-weight: 300;
          }
        }
      }
      .innoCarpets {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left_carpet {
          display: flex;
          flex-direction: column;

          h1 {
            height: 90px;
            color: #000;
            font-family: "Roboto-Bold";
            font-size: 50px;
            font-weight: 900;
          }

          p {
            color: #000;
            font-family: "Roboto-Light";
            font-size: 24px;
            font-weight: 300;
          }

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 179px;
            height: 53px;
            flex-shrink: 0;
            border-radius: 7px;
            background: linear-gradient(95deg, #b90160 2.23%, #2e3192 99.51%);

            button {
              color: #fff;
              background: linear-gradient(95deg, #b90160 2.23%, #2e3192 99.51%);
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-family: "Roboto-Medium";
              font-size: 17px;
              font-weight: 800;
              width: 179px;
              height: 22px;
              text-transform: uppercase;
            }
          }
        }

        .right_carpet {
          display: flex;
        }
      }

      .eva {
        h1 {
          color: #000;
          text-align: center;
          font-family: "Roboto-Light";
          font-size: 50px;
          font-weight: 800;
          code {
            background: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Roboto-Light";
            font-size: 50px;
          }
        }
      }

      .containers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "Roboto-Medium";

        gap: 4em;
        .container_1,
        .container_2,
        .container_3 {
          margin-top: 5em;
          width: 344px;
          height: 414px;
          border-radius: 9px;
          background: #fff;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2),
            0 16px 20px rgba(0, 0, 0, 0.2);

          .text {
            margin-left: 1.5em;
            h1 {
              text-transform: uppercase;
            }
            p {
              color: #767676;
              font-family: "Roboto-Light";
              font-size: 14px;
              font-weight: 300;
            }
            img {
              border-radius: 9px;
            }
          }
        }
      }
    }
    .purple_line {
      margin-top: 8em;
      background: linear-gradient(
        94deg,
        rgba(212, 20, 90, 0.25) 0.96%,
        rgba(46, 49, 146, 0.25) 104.83%
      );
      width: 100%;
      height: 357px;
    }
  }
}
